# Application URLs (seen externally via nginx)
BASE_URL=http://localhost  # Frontend, landing page (via nginx Port 80)
NEXT_PUBLIC_API_URL=http://localhost/api  # API via nginx

# Environment
NODE_ENV=development

# Port configuration of local services
PORT=3001  # Backend, server
NEXT_PORT=3000  # Frontend, client

# Database Configuration
DB_PASSWORD=mydbpasswordherewhichisverysecure
DB_HOST=localhost
DB_PORT=5432
DB_NAME=entbueromat
DB_USER=entbueromat_user

# Security
JWT_SECRET=some-very-secure-jwt-secret

# Email Configuration (Example with Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your.email@example.com
EMAIL_PASSWORD=your-email-password

# Admin Configuration
ADMIN_EMAIL=dummy@example.com
ADMIN_PASSWORD=password
ADMIN_USERNAME=admin

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@entbuero-mat.de
PGADMIN_DEFAULT_PASSWORD=pgadmin123
PGADMIN_PORT=8080
